/**
 * CONTINGUT
 *
 * PRINCIPAL
 *  General..............Configuració general de les etiquetes
 *  Navegador............Estils pel navegador general
 *  Presentació..........Estils pels títols, imatge i paràgrafs 
 *  Blocs................Estils per definir les tres caixes amb els tipus de ioga.
 *  Footer...............Estils per al footer.
 *
 * MÒBIL
 *  Navegador mòbil......Estils específics pel navegador del mòbil
 *  
 * TABLET
 *  General..............Configuració per a tablet de les etiquetes generals
 *  Navegador............Estils específics pel navegador de la tablet
 *  Blocs................Estils específics per definir les tres caixes amb els tipus de ioga
 *  Presentació..........Estils pels títols, imatge i paràgrafs 
 *
 * DESKTOP
 *  General..............Configuració per a tablet de les etiquetes generals
 *  Navegador............Estils específics pel navegador desktop
 *  Blocs................Estils específics per definir les tres caixes amb els tipus de ioga
 *  Presentació..........Estils pels títols, imatge i paràgrafs 
 *
 */
/*----------------------------------------*\
  #PRINCIPAL
\*----------------------------------------*/
/*------------------------------------*\
  #GENERAL
\*------------------------------------*/
* {
  box-sizing: border-box;
  margin:  0;
  padding: 0;
}

body {
  display:        flex;
  flex-direction: column;
  text-align:     justify;
  height:  100vh;
  margin:  0;
  padding: 0;
  font-family:  $font-family-sans-serif;
  font-size:    16px;
  line-height:  24px;
  color:            $fosc;
  background-color: $clar; 
}

main{
  padding: 2rem;
}

img{
  width: 15rem;
}

a{
  text-decoration: none;
  color: inherit;
}

.icones{
  display:          flex;
  flex-direction:   row;
  justify-content:  center;
  padding-top: 3rem;
    i{
      margin: 0.8rem;
    }
}

/*------------------------------------*\
  #NAVEGADOR
\*------------------------------------*/

nav {
  text-align:     center;
  text-transform: uppercase;
  background-color: $fosc;
  color:            white;
  padding-top: 2rem;
  
  ul {
    li {
      display:        flex;
      flex-direction: column;
      font-size:    16px;
      font-weight:  400;
      padding-left: 0;

      &::before {
        content: "";
        width: 10px;
      }

      a {
        color:  inherit;
        border: none;

        &:hover {
          border: none;
          color:  $color-2;
        }
      }
    }
  }
}
.logoimg{
  width: 100px;
  height: 80px;
}

/*------------------------------------*\
  #PRESENTACIO
\*------------------------------------*/
.titolbox{
  display:        flex;
  flex-direction: column;
  align-items:    center;
  h1{
    text-align: center;
    padding-bottom: 1.5rem;
  }
  h2{
    text-align: center;
    padding-bottom: 1.5rem;
  }
  p{
    padding-bottom: 1.2rem;
  }
  img{
    width:  300px;
    height: 250px;
    margin-bottom: 4.2rem;
  } 
}


/*------------------------------------*\
  #BLOCS
\*------------------------------------*/

.blocs{
  display:        flex;
  flex-direction: column;
  align-items:    center;
}

.blocyoga{
  background-color: $color-3;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  padding-top:    2rem;
  padding-bottom: 1.5rem;
  margin-bottom:  3rem;
  margin-top:     3rem;
  box-shadow:     5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
    p{
      text-align: center;
      margin:     1.5rem;
    }
    h2{
      margin-bottom: 1rem;
      margin-top:    1rem;
    }
    img{
      width:  12rem;
      height: 12rem;    
    }
    &:hover{
      background-color: darken($color-1, 3);
      color: $clar;
    }
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
footer{
  background-color: $fosc;
  color:            $clar;
  p{
    padding:    3rem;
    text-align: center;
    font-size:  1.5rem;
  }
}


/*------------------------------------------------------*\
  #MOBIL
\*------------------------------------------------------*/
@media (280px < width <= 768px){
  /*---------------------------------*\
    #NAVEGADOR MOBIL
  \*---------------------------------*/
  nav ul li{
    padding-bottom: 0.7rem;
  }

}



/*------------------------------------------------------*\
  #TABLET
\*------------------------------------------------------*/
@media (768px < width <= 1024px ) {
  /*---------------------------------*\
    #GENERAL TABLET
  \*---------------------------------*/
  p {
    text-align:  justify;
    font-size:   1.3rem;
    line-height: 1.9rem;
  }
  /*---------------------------------*\
    #NAVEGADOR TABLET
  \*---------------------------------*/
  nav {
    text-align:     center;
    padding-top:    1rem;
    padding-bottom: 1rem;
    
    ul {
      padding-left: 0;
      
      li {
        display:     inline-block;
        font-size:   1.5rem;
        font-weight: 400;
    
        &::before {
          content: " | ";
          width: 10px;
        }
    
        &:first-child::before {
          content: "";
        }
        
        a {
          color:  inherit;
          border: none;
        }
      }
    }
  }
  /*---------------------------------*\
    #BLOCS TABLET
  \*---------------------------------*/
  .blocyoga{
    display:               grid;
    grid-template-columns: 1fr 1.2fr 2fr;
    padding-top:    1.5rem;
    padding-bottom: 1.5rem;
      h2{
        padding-left: 2rem;
      }
      p {
        text-align:    justify;
        padding-right: 2rem;
      }

    
  }
  /*------------------------------------*\
  #PRESENTACIO TABLET
  \*------------------------------------*/
  .titolbox{
   
    img{
      width:  500px;
      height: 450px;
      margin-bottom: 4.2rem;
    }
  }

}


 
  





/*------------------------------------------------------*\
  #DESKTOP
\*------------------------------------------------------*/
@media (width > 1024px){
  /*---------------------------------*\
    #GENERAL DESKTOP
  \*---------------------------------*/
  p {
    text-align: justify;
  }

  /*---------------------------------*\
    #NAVEGADOR DESKTOP
  \*---------------------------------*/

  nav {
    text-align: right;
    padding-right:  2.5rem;
    padding-top:    1rem;
    padding-bottom: 1rem;

    ul {
      padding-left: 0;
      
      li {
        display: inline-block;
        font-size:    1.5rem;
        font-weight:  400;
        padding-left: 0;
        
        &::before {
          content: " | ";
          width: 10px;
        }
        
        &:first-child::before {
          content:     "";
        }
        
        a {
          color:  inherit;
          border: none;
        }
      }
    }
  }
  /*---------------------------------*\
    #BLOCS DESKTOP
  \*---------------------------------*/
  .blocs{
    display:       grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blocyoga{
    display:        flex;
    flex-direction: column;
    align-items:    center;
    height:   700px;
    width:    330px;
    border-radius: 25px;
  }

  /*------------------------------------*\
  #PRESENTACIO DESKTOP
  \*------------------------------------*/
  .titolbox{
    
    h1{
      font-size: 5rem;
      padding-bottom: 4.2rem;
      padding-top:    3.2rem;
    }
    h2{
      font-size: 3rem;
      padding-bottom: 4.2rem;
      padding-top:    3.2rem;
    }

    p{
      padding-bottom: 1.2rem;
      padding-left:   13rem;
      padding-right:  13rem;
      font-size: 1.5rem;
      line-height: 2.5rem;
      
    }
    img{
      width:  600px;
      height: 500px;
      margin-bottom: 4.2rem;
    }
  }

}